" ════════════════════════════════════════════════════════════════════════════
" Plugins
" ════════════════════════════════════════════════════════════════════════════
set NERDTree
set surround
set commentary
set highlightedyank
set mini-ai
set commentary

" ════════════════════════════════════════════════════════════════════════════
" Leader Definition
" ════════════════════════════════════════════════════════════════════════════
let mapleader = " "

" ════════════════════════════════════════════════════════════════════════════
" Global Options
" ════════════════════════════════════════════════════════════════════════════
set number
set relativenumber
set clipboard+=unnamedplus

" ════════════════════════════════════════════════════════════════════════════
" Search
" ════════════════════════════════════════════════════════════════════════════
set hlsearch
set incsearch
set ignorecase
set smartcase
noremap <silent> <Esc> :noh<CR><Esc>

" ════════════════════════════════════════════════════════════════════════════
" Editing
" ════════════════════════════════════════════════════════════════════════════

" Move Block
map <A-S-J> :m .+1<CR>==
map <A-S-K> :m .-2<CR>==
vmap <A-S-J> :m '>+1<CR>gv=gv
vmap <A-S-K> :m '<-2<CR>gv=gv

" Indentation
vmap < <gv
vmap > >gv

" Format
map == <Action>(ReformatCode)
vmap = <Action>(ReformatCode)

" LSP Actions
map gd <Action>(GotoDeclaration)
map grd <Action>(SafeDelete)
map gri <Action>(GotoImplementation)
map grr <Action>(FindUsages)
map grs <Action>(GotoSuperMethod)
map grn <Action>(RenameElement)
map <C-M-o> <Action>(OptimizeImports)

" Refactor
map <C-M-c> <action>(IntroduceConstant)
map <C-M-v> <action>(IntroduceVariable)
map <C-M-m> <action>(ExtractMethod)
vmap <C-M-c> <action>(IntroduceConstant)
vmap <C-M-v> <action>(IntroduceVariable)
vmap <C-M-m> <action>(ExtractMethod)

" Text Object Navigation
map ]f <Action>(MethodDown)
map [f <Action>(MethodUp)

" Highlight Usages
map * *N<Action>(HighlightUsagesInFile)

" ════════════════════════════════════════════════════════════════════════════
" Fold
" ════════════════════════════════════════════════════════════════════════════
map zC <Action>(CollapseAllRegions)
map zO <Action>(ExpandAllRegions)

" ════════════════════════════════════════════════════════════════════════════
" Windows, buffers, etc
" ════════════════════════════════════════════════════════════════════════════
" Resize Windows
map <M-Left>  <Action>(StretchSplitToLeft)
map <M-Right> <Action>(StretchSplitToRight)
map <M-Up>    <Action>(StretchSplitToTop)
map <M-Down>  <Action>(StretchSplitToBottom)

" Buffer Navigation
map <A-k> <Action>(NextTab)
map <A-j> <Action>(PreviousTab)

" Windows Navigation
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l
map <C-w>u <Action>(ReopenClosedTab)

" Buffers
map <C-w>c :q<CR>
map <C-w>q :bd<CR>

" Keep centralized
map <C-d> <C-d>zz
map <C-u> <C-u>zz

" ════════════════════════════════════════════════════════════════════════════
" Diagnostic
" ════════════════════════════════════════════════════════════════════════════
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
map =d <Action>(ShowErrorDescription)
map <C-w>d <Action>(ShowErrorDescription)
map <M-p> <Action>(ActivateProblemsViewToolWindow)

" ════════════════════════════════════════════════════════════════════════════
" Git
" ════════════════════════════════════════════════════════════════════════════
map <M-y> <Action>(Annotate)
map ]h <Action>(VcsShowNextChangeMarker)
map [h <Action>(VcsShowPrevChangeMarker)
map =h <Action>(VcsShowCurrentChangeMarker)

" ════════════════════════════════════════════════════════════════════════════
" Terminal
" ════════════════════════════════════════════════════════════════════════════
map <M-t> <Action>(ActivateTerminalToolWindow)

" ════════════════════════════════════════════════════════════════════════════
" NerdTree
" ════════════════════════════════════════════════════════════════════════════
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" ════════════════════════════════════════════════════════════════════════════
" Runners
" ════════════════════════════════════════════════════════════════════════════
map <leader>rr <Action>(ChooseRunConfiguration)
map <leader>rs <Action>(Stop)

" ════════════════════════════════════════════════════════════════════════════
" Debug
" ════════════════════════════════════════════════════════════════════════════
map <C-F7> <Action>(EditBreakpoint)
map <C-F8> <Action>(ToggleLineBreakpoint)
map <C-S-F8> <Action>(ViewBreakpoints)

" ════════════════════════════════════════════════════════════════════════════
" Marks
" ════════════════════════════════════════════════════════════════════════════
" map mm <Action>(ToggleBookmark)
map <M-m> <Action>(ActivateBookmarksToolWindow)

" ════════════════════════════════════════════════════════════════════════════
" UI Panels
" ════════════════════════════════════════════════════════════════════════════
map <M-1> :NERDTreeToggle<CR>
map <M-3> <Action>(ActivateCommitToolWindow)
map <M-4> <Action>(ActivateStructureToolWindow)
map <M-g> <Action>(ActivateVersionControlToolWindow)
map <leader><leader> <Action>(SearchEverywhere)
map <leader>/ <Action>(FindInPath)
vmap / <Action>(FindInPath)
