" ════════════════════════════════════════════════════════════════════════════
" Plugins
" ════════════════════════════════════════════════════════════════════════════
set NERDTree
set surround
set commentary
set highlightedyank
set mini-ai
set commentary

" ════════════════════════════════════════════════════════════════════════════
" Leader Definition
" ════════════════════════════════════════════════════════════════════════════
let mapleader = " "

" ════════════════════════════════════════════════════════════════════════════
" Global Options
" ════════════════════════════════════════════════════════════════════════════
set clipboard+=unnamedplus
set number
set relativenumber

" ════════════════════════════════════════════════════════════════════════════
" Editing
" ════════════════════════════════════════════════════════════════════════════

" Move Block
map <A-S-J> :m .+1<CR>==
map <A-S-K> :m .-2<CR>==
vmap <A-S-J> :m '>+1<CR>gv=gv
vmap <A-S-K> :m '<-2<CR>gv=gv

" Indentation
vnoremap < <gv
vnoremap > >gv

" Format
map == <Action>(ReformatCode)
vmap = <Action>(ReformatCode)

" LSP Actions
map gd <Action>(GotoDeclaration)
map gri <Action>(GotoImplementation)
map grr <Action>(FindUsages)
map grs <Action>(GotoSuperMethod)
map grn <Action>(RenameElement)
map <C-M-o> <Action>(OptimizeImports)

" Refactor
map <C-M-c> <action>(IntroduceConstant)
map <C-M-v> <action>(IntroduceVariable)
map <C-M-m> <action>(ExtractMethod)
vmap <C-M-c> <action>(IntroduceConstant)
vmap <C-M-v> <action>(IntroduceVariable)
vmap <C-M-m> <action>(ExtractMethod)

" Text Object Navigation
map ]f <Action>(MethodDown)
map [f <Action>(MethodUp)

" Highlight Usages
map * *N<Action>(HighlightUsagesInFile)

" ════════════════════════════════════════════════════════════════════════════
" Windows, buffers, etc
" ════════════════════════════════════════════════════════════════════════════
" Resize Windows
map <M-Left>  <Action>(StretchSplitToLeft)
map <M-Right> <Action>(StretchSplitToRight)
map <M-Up>    <Action>(StretchSplitToTop)
map <M-Down>  <Action>(StretchSplitToBottom)

" Buffer Navigation
map <A-k> :tabnext<CR>
map <A-j> :tabprev<CR>

" Windows Navigation
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Buffers
nnoremap <C-w>c :q<CR>
nnoremap <C-w>q :bd<CR>

" Keep centralized
map <C-d> <C-d>zz
map <C-u> <C-u>zz

" ════════════════════════════════════════════════════════════════════════════
" Diagnostic
" ════════════════════════════════════════════════════════════════════════════
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
map =d <Action>(ShowErrorDescription)
map <C-w>d <Action>(ShowErrorDescription)

" ════════════════════════════════════════════════════════════════════════════
" Git
" ════════════════════════════════════════════════════════════════════════════
map <M-y> <Action>(Annotate)
map ]h <Action>(VcsShowNextChangeMarker)
map [h <Action>(VcsShowPrevChangeMarker)
map =h <Action>(VcsShowCurrentChangeMarker)

" ════════════════════════════════════════════════════════════════════════════
" Terminal
" ════════════════════════════════════════════════════════════════════════════
map <M-t> <Action>(ActivateTerminalToolWindow)

" ════════════════════════════════════════════════════════════════════════════
" NerdTree
" ════════════════════════════════════════════════════════════════════════════
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" ════════════════════════════════════════════════════════════════════════════
" Runners
" ════════════════════════════════════════════════════════════════════════════
map <leader>rr <Action>(ChooseRunConfiguration)
map <leader>rs <Action>(Stop)

" ════════════════════════════════════════════════════════════════════════════
" UI Panels
" ════════════════════════════════════════════════════════════════════════════
map <M-1> :NERDTreeToggle<CR>
map <M-4> <Action>(ActivateStructureToolWindow)
map <M-g> <Action>(ActivateVersionControlToolWindow)
map <leader><leader> <Action>(GotoFile)
map <leader>/ <Action>(FindInPath)
vmap / <Action>(FindInPath)
