[submodule ".jenv"]
	path = .jenv
	url = https://github.com/jenv/jenv
	branch = master
[submodule ".config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
