window {
    background-color: #ffffff;
    color: #4c4f69;
    font-family: monospace;
    font-size: 14px;
}

#input {
    background-color: #ccd0da;
    color: #4c4f69;
    border: 1px solid #8c8fa1;
    border-radius: 4px;
    padding: 6px 10px;
    margin: 8px;
}

#inner-box {
    background-color: #eff1f5;
}

#outer-box {
    background-color: #eff1f5;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #8c8fa1;
}

#scroll {
    margin: 4px;
}

#entry {
    padding: 6px 10px;
    border-radius: 4px;
}

#entry:selected {
    background-color: #1e66f5;
    color: #eff1f5;
}

#text {
    color: #4c4f69;
}

#text:selected {
    color: #eff1f5;
}
